flows.json
[{"id":"9222e2cb.313e9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"654f7b77.b60984","type":"ui_form","z":"9222e2cb.313e9","name":"","label":"","group":"89ca7d56.9ff62","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"g","type":"number","required":true,"rows":null},{"label":"Married","value":"m","type":"number","required":true,"rows":null},{"label":"Dependents","value":"d","type":"number","required":true,"rows":null},{"label":"Education","value":"e","type":"number","required":true,"rows":null},{"label":"Self_Employed","value":"se","type":"number","required":true,"rows":null},{"label":"ApplicantIncome","value":"ai","type":"number","required":true,"rows":null},{"label":"CoapplicantIncome","value":"cai","type":"number","required":true,"rows":null},{"label":"LoanAmount","value":"la","type":"number","required":true,"rows":null},{"label":"Loan_Term","value":"lt","type":"number","required":true,"rows":null},{"label":"Credit_History_Available","value":"ch","type":"number","required":true,"rows":null},{"label":"Housing","value":"h","type":"number","required":true,"rows":null},{"label":"Locality","value":"lo","type":"number","required":true,"rows":null}],"formValue":{"g":"","m":"","d":"","e":"","se":"","ai":"","cai":"","la":"","lt":"","ch":"","h":"","lo":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":60,"wires":[["897b8bf4.3b7da8"]]},{"id":"1203e8a2.0e4de7","type":"debug","z":"9222e2cb.313e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"897b8bf4.3b7da8","type":"function","z":"9222e2cb.313e9","name":"global variables for form node","func":"global.set(\"Gender\",msg.payload.g)\nglobal.set(\"Married\",msg.payload.g)\nglobal.set(\"Dependents\",msg.payload.g)\nglobal.set(\"Education\",msg.payload.g)\nglobal.set(\"Self_Employed\",msg.payload.g)\nglobal.set(\"ApplicantIncome\",msg.payload.g)\nglobal.set(\"CoapplicantIncome\",msg.payload.g)\nglobal.set(\"LoanAmount\",msg.payload.g)\nglobal.set(\"Loan_Term\",msg.payload.g)\nglobal.set(\"Credit_History_Available\",msg.payload.g)\nglobal.set(\"Housing\",msg.payload.g)\nglobal.set(\"Locality\",msg.payload.g)\nvar apikey=\"mffF9lxnIS3lNxznTTiOOr1TLxvpC27LgmDfkVokF-VM\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":80,"wires":[["1203e8a2.0e4de7","3f3c9b83.2a8ba4"]]},{"id":"3f3c9b83.2a8ba4","type":"http request","z":"9222e2cb.313e9","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":80,"wires":[["aabe16fd.0737c8","ca356da0.01e9f"]]},{"id":"aabe16fd.0737c8","type":"debug","z":"9222e2cb.313e9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":160,"wires":[]},{"id":"ca356da0.01e9f","type":"function","z":"9222e2cb.313e9","name":"","func":"var Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar ApplicantIncome = global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Term = global.get(\"Loan_Term\")\nvar Credit_History_Available = global.get(\"Credit_History_Available\")\nvar Housing = global.get(\"Housing\")\nvar Locality = global.get(\"Locality\")\nvar token=msg.payload.access_token\nmsg.headers={\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\n\t\"input_data\": [\n\t\t{\n\t\t\t\"fields\": [\n\t\t\t\t\"Gender\",\n\t\t\t\t\"Married\",\n\t\t\t\t\"Dependents\",\n\t\t\t\t\"Education\",\n\t\t\t\t\"Self_Employed\",\n\t\t\t\t\"ApplicantIncome\",\n\t\t\t\t\"CoapplicantIncome\",\n\t\t\t\t\"LoanAmount\",\n\t\t\t\t\"Loan_Term\",\n\t\t\t\t\"Credit_History_Available\",\n\t\t\t\t\"Housing\",\n\t\t\t\t\"Locality\"\n\t\t\t],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tGender,\n\t\t\t\t\tMarried,\n\t\t\t\t\tDependents,\n\t\t\t\t\tEducation,\n\t\t\t\t\tSelf_Employed,\n\t\t\t\t\tApplicantIncome,\n\t\t\t\t\tCoapplicantIncome,\n\t\t\t\t\tLoanAmount,\n\t\t\t\t\tLoan_Term,\n\t\t\t\t\tCredit_History_Available,\n\t\t\t\t\tHousing,\n\t\t\t\t\tLocality\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":100,"wires":[["56f9b466.b4df8c"]]},{"id":"56f9b466.b4df8c","type":"http request","z":"9222e2cb.313e9","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/53f0e999-0d37-4574-a665-e95405dcbe12/predictions?version=2021-07-03","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":140,"wires":[["98d2c729.efd988","1e46408f.17e9ef"]]},{"id":"98d2c729.efd988","type":"debug","z":"9222e2cb.313e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":220,"wires":[]},{"id":"1e46408f.17e9ef","type":"function","z":"9222e2cb.313e9","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":140,"wires":[["735bc09.55ffd4","f52bdab0.584cd8"]]},{"id":"735bc09.55ffd4","type":"debug","z":"9222e2cb.313e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":220,"wires":[]},{"id":"f52bdab0.584cd8","type":"ui_text","z":"9222e2cb.313e9","group":"89ca7d56.9ff62","order":2,"width":0,"height":0,"name":"","label":"The Fraud Risk  will be","format":"{{msg.payload}}","layout":"row-spread","x":1580,"y":200,"wires":[]},{"id":"89ca7d56.9ff62","type":"ui_group","name":"Enter the values","tab":"c623acd4.5f6b6","order":1,"disp":true,"width":"6","collapse":false},{"id":"c623acd4.5f6b6","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]